@{
    ViewBag.Title = "Index";
    string style = string.Empty;

}
@using MoneyTracker.AppModels
@using MoneyTracker.Utilities
@model MoneyTracker.AppModels.ForecastCenter

<h2>Forecast</h2>

<div class="container">
    <h2></h2>
    <p></p>
    <table class="table-bordered">
        <thead>
            <tr>

                <th>Type</th>
                <th>Name</th>
                <th>Current Bal</th>
                <th>Month 1</th>
                <th>Month 2</th>
                <th>Month 3</th>
                <th>Month 4</th>
                <th>Month 5</th>
                <th>Month 6</th>
                <th>Year 1</th>
                <th>Year 2</th>
                <th>Year 3</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ForecastRows)
            {
                switch (item.RowType)
                {
                    case Enums.TableRowType.header1:
                        style = "background-color:#2d2d2d";
                        break;
                    case Enums.TableRowType.total:
                        style = "background-color:#1d1d1d";
                        break;
                    default:
                        style = string.Empty;
                        break;
                }
                <tr style="@style">
                    <td>
                        @Html.DisplayFor(modelItem => item.Header)
                    </td>
                    <td style="padding-right: 10px">
                        @Html.DisplayFor(modelItem => item.AccountName)
                    </td>
                    <td style="text-align: right; width: 100px">
                        @Html.DisplayFor(modelItem => item.MonthCurrent)
                    </td>
                    <td style="text-align: right; width: 100px">
                        @Html.DisplayFor(modelItem => item.Month1)
                    </td>
                    <td style="text-align: right; width: 100px">
                        @Html.DisplayFor(modelItem => item.Month2)
                    </td>
                    <td style="text-align: right; width: 100px">
                        @Html.DisplayFor(modelItem => item.Month3)
                    </td>
                    <td style="text-align: right; width: 100px">
                        @Html.DisplayFor(modelItem => item.Month4)
                    </td>
                    <td style="text-align: right; width: 100px">
                        @Html.DisplayFor(modelItem => item.Month5)
                    </td>
                    <td style="text-align: right; width: 100px">
                        @Html.DisplayFor(modelItem => item.Month6)
                    </td>
                    <td style="text-align: right; width: 100px">
                        @Html.DisplayFor(modelItem => item.Year1)
                    </td>
                    <td style="text-align: right; width: 100px">
                        @Html.DisplayFor(modelItem => item.Year2)
                    </td>
                    <td style="text-align: right; width: 100px">
                        @Html.DisplayFor(modelItem => item.Year3)
                    </td>
                </tr>
            }

        </tbody>

    </table>
</div>

