@using MoneyTracker.Models
@using MoneyTracker.AppModels
@model MoneyTracker.AppModels.TransactionCenter
@{
    
    ViewBag.Title = "Index";

}

<h2>Index</h2>
<p>
    @using (Html.BeginForm())
    {
        @Html.DropDownListFor(model => model.SelectedMonth, (IEnumerable<SelectListItem>)ViewBag.Months, "Month")
        <input type="submit" value="submit" class="btn-primary btn-xs" />
        @Html.DropDownListFor(model => model.SelectedYear, (IEnumerable<SelectListItem>)ViewBag.Years, "Year")
        <input type="submit" value="submit" class="btn-primary btn-xs" />
    }
</p>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table id="transactionTable" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TransactionList.FirstOrDefault().Account.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TransactionList.FirstOrDefault().Allocation.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TransactionList.FirstOrDefault().TransactionType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TransactionList.FirstOrDefault().TransactionDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TransactionList.FirstOrDefault().Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TransactionList.FirstOrDefault().Amount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.TransactionList)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Account.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Allocation.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TransactionType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TransactionDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.Ac@tionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>


</table>

@* Load datatable js *@
@section Scripts{
    <link rel="stylesheet" type="text/css" href="~/Content/DataTables.css">
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.13/js/jquery.dataTables.js"></script>

    <script>

        ///* Custom filtering function which will search data in column four between two values */
        //$.fn.dataTable.ext.search.push(
        //        function (settings, data, dataIndex) {
        //                var min = parseInt($('#min').val(), 10);
        //                var max = parseInt($('#max').val(), 10);
        //                var age = parseFloat(data[3]) || 0; // use data for the age column

        //                if ((isNaN(min) && isNaN(max)) ||
        //                         (isNaN(min) && age <= max) ||
        //                         (min <= age && isNaN(max)) ||
        //                         (min <= age && age <= max))         {
        //                        return true;
        //                }
        //                return false;
        //        }
        //);

        $(document).ready(function () {
            $('#transactionTable').DataTable({
                "paging": false
            })
        });

        // Event listener to the two range filtering inputs to redraw on input
        $('#min, #max').keyup(function () {
            table.draw();
        });
    </script>
}

@*https://datatables.net/examples/plug-ins/range_filtering.html*@
