@model IEnumerable<MoneyTracker.Models.Allocations.Expense>

@{
    ViewBag.Title = "Index";
}

<h2>Expenses</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table id="expensesTable" class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.FromAccount.Name)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Recurrence.RecurrenceFrequencyEnum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExpenseCategory.Name)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FromAccount.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Recurrence.RecurrenceFrequencyEnum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Amount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExpenseCategory.Name)
        </td>
        <td>
            <button type="submit" class="btn btn-primary btn-xs" title="Edit"
                    onclick="location.href='@Url.Action("Edit", "Expenses", new { id = item.Id })'">
                <span class="glyphicon glyphicon-edit"></span>
            </button>
            |
            <button type="submit" class="btn btn-primary btn-xs" title="Delete"
                    onclick="location.href='@Url.Action("Delete", "Expenses", new { id = item.Id })'">
                <span class="glyphicon glyphicon-remove"></span>
            </button>
        </td>
    </tr>
    }
    </tbody>
</table>

@* Load datatable js *@
@section Scripts{
    <link rel="stylesheet" type="text/css" href="~/Content/DataTables.css">
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.13/js/jquery.dataTables.js"></script>

    <script>
        $(document).ready(function () {
            $('#expensesTable').DataTable({
                    "paging": false
            });
        });
    </script>
}