@model MoneyTracker.Models.Allocations.Allocation

@using (Html.BeginForm()) 
{
       
    <div class="form-horizontal">
        <h4>Recurrence</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <dt>
            @Html.DisplayNameFor(model => model.Recurrence.RecurrenceFrequencyEnum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Recurrence.RecurrenceFrequencyEnum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Recurrence.RecuranceStartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Recurrence.RecuranceStartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Recurrence.RecuranceEndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Recurrence.RecuranceEndDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Recurrence.RecuranceDayNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Recurrence.RecuranceDayNumber)
        </dd>


    </div>
}

