@model IEnumerable<MoneyTracker.Models.ChangeEvents.AllocationChange>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EffectiveDateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ChangeTypeEnum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Recurance)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Allocation.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.EffectiveDateTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Amount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ChangeTypeEnum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Recurance)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Allocation.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
