@model MoneyTracker.Models.Allocations.Loan

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Loan</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FromAccount.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FromAccount.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsMonthly)
        </dt>

        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Apr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Apr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AssetCurrentValue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AssetCurrentValue)
        </dd>
        
        @Html.Partial("~/Views/Shared/Recurrence/Details.cshtml")

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
